@*
    REMEMBER the using of Models
*@

@using u21448567_HW03.Models;
@model List<FileModel>

@*

    @model IEnumerable<FileUploadDownload.Models.FileModel>
    Generated List details
*@
@{
    ViewBag.Title = "Index";
}

<h2>Documents of any file type</h2>
<p>All Media from the Media/Documents folder is displayed here</p>

<head>
    <style type="text/css">
        .auto-style {
            color: #FFFFFF;
        }

        .t {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>

@*
    Will generate as item but can be renamed.
*@
<div style="height: 400px; overflow: auto; background-color: gainsboro" >
    <div class="well-sm">
        <table class="table table-condensed table-hover">
            <thead style="position: sticky;top: 0">
                <tr bgcolor="#222222" class="auto-style">
                    <th class="col-lg-8">File Name</th>
                    <th class="t, col-lg-2">DOWNLOAD</th>
                    <th class="t, col-lg-2">DELETE</th>
                </tr>
            </thead>
            @foreach (FileModel file in Model)
            {
                <tr>
                    @*
                        Default >> @Html.DisplayFor(modelItem => file.FileName)
                    *@

                    <td>@file.FileName</td>
                    <td>
                        <button class="btn btn-success" style="color:white">
                            @Html.ActionLink("Download", "DownloadFile",
                             new { fileName = file.FileName },
                             new { @Style = "color:white;" })
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" style="color:white">
                            @Html.ActionLink("Delete", "DeleteFile",
                             new { fileName = file.FileName },
                             new { @Style = "color:white;" })
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
