
@{
    ViewBag.Title = "About";
}

<h2>Learning about the developer!</h2>
<p>Hello, my name is Connor!</p>

<div class="container">
    <div class="row" style="background-color:lightgray">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Biography</h3>
                    <p>
                        Hello There! (Kenobi reference). My name is Connor Cress. I am an undergraduate student at the University of Pretoria. I am currently studying informatics, as I have always been very interested in computers. I have always been the guy that has been asked to fix the angle of the projector in the classroom, just because I took Information Technology as a subject. One of my greatest interests currently is web design and programming. In high school, I took Design as a subject. It was there that I taught myself UX and UI design, as part of an end of year project. I realised how much I love it and have been making front end applications ever since. However, only recently did my degree start going down the path of web design. Being taught HTML, CSS and JavaScript, as well as being taught (despite already knowing) Figma, for front end design in other Informatics modules of mine. Everything is lining up great for me and I am very excited to see what the future holds.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body" style="padding:10px">
                    <h3 class="card-title">A Photo of Me</h3>

                    <img src="~/images/ConnorCressPhoto1.png" alt="Photo of Me" width="300"/>

                    <br/>

                </div>
            </div>
        </div>
    </div>
</div>

